<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>

<body>
	

		<div class="container-fluid">
			<div th:replace="plantilla/template :: sidebar"></div>
			<div class="row">
				<form class="principal" action="">

					<div class="stories" th:fragment="stories">
						<div class="categoria">
							<span>Menu Categorias</span>
						</div>
						<div class="content-card">
							<div class="card">
								<img class="card-img-top" src="/images/donut.png" alt="Card image cap">
								<span class="card-title">Donas</span>
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-bebida.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-cafe.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-corazon.png" alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="/images/icons8-hamburguesa.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-papas-fritas.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-pizza.png" alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="/images/icons8-recipiente-de-helado.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-sushi.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/icons8-taco.png" alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="/images/pan.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/papas.png" alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="/images/uva.png" alt="Card image cap">
							</div>
							
							
					</div>
					</div>

					<div class="contenedor-principal">
						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>
						
						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>

						<div class="card card-order">
							<img class="card-img-top" src="..." alt="Card image cap">
						</div>
					</div>

					<div class="stories" th:fragment="stories">
						<div class="categoria">
							<span>Ordenes Recientes</span>
						</div>
						<div class="content-card">
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
							
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div>
		
							<div class="card">
								<img class="card-img-top" src="..." alt="Card image cap">
							</div> 
					</div>
					</div>
					  
				</form>
				<div class="detalle-order">
						<div class="container-fluid">
							<span>Detalle de orden</span>
							<div class="tabla">
								<table class="table table-striped">
									<thead>
									  <tr>
										<th scope="col">ID</th>
										<th scope="col">Producto</th>
										<th scope="col">Cantidad</th>
										<th scope="col">Precio</th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<th scope="row">1</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									  </tr>
									  <tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
	
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									  <tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									  </tr>
									</tbody>
								  </table>
							</div>
						</div>
						<hr>
						<span>Sub Total: </span>
						<br>
						<button class="btn btn-danger">Ordenar ahora</button>
						</div>
			</div>
		</div>

	<footer th:replace="plantilla/template :: footer"></footer>
	
	<!-- jQuery - Slim version (=without AJAX) -->
	<link rel="stylesheet" th:src="@{/js/jquery.js}">
	<link rel="stylesheet" th:src="@{/js/jquery-3.3.1.slim.min.js}">
	<link rel="stylesheet" th:src="@{/js/popper.min.js}">
	<link rel="stylesheet" th:src="@{/js/bootstrap.min.js}">

</body>

</html>